[Unit]
Description=pkgfile database update timer
Wants=network-online.target
After=network-online.target

[Timer]
OnCalendar=daily
AccuracySec=6h
Persistent=yes

[Install]
WantedBy=multi-user.target
